IPSec gateway {{ vpnc_options.ipsec_gateway }}
IPSec ID {{ vpnc_options.ipsec_id }}
IPSec secret {{ vpnc_options.ipsec_secret }}
Xauth username {{ vpnc_options.xauth_user }}
Xauth password {{ vpnc_options.xauth_password }}
